<%= form_with(model: prototype) do |form| %>
  <% if prototype.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prototype.errors.count, "error") %> prohibited this prototype from being saved:</h2>

      <ul>
        <% prototype.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :dict_body_id, style: "display: block" %>
    <%= form.text_field :dict_body_id %>
  </div>

  <div>
    <%= form.label :dict_neck_id, style: "display: block" %>
    <%= form.text_field :dict_neck_id %>
  </div>

  <div>
    <%= form.label :dict_pickup_id, style: "display: block" %>
    <%= form.text_field :dict_pickup_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
