<div id="<%= dom_id prototype %>">
  <p>
    <strong>Dict body:</strong>
    <%= prototype.dict_body_id %>
  </p>

  <p>
    <strong>Dict neck:</strong>
    <%= prototype.dict_neck_id %>
  </p>

  <p>
    <strong>Dict pickup:</strong>
    <%= prototype.dict_pickup_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= prototype.user_id %>
  </p>

</div>
